<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar" style="background: #ef5350">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
            <!-- ============================================================== -->
            <!-- Logo -->
            <!-- ============================================================== -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/Users/idscomercial/Documents/personal/admin-360/cargo-master/index.html">
                    <!-- Logo icon --><b>
                                <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                                <!-- Dark Logo icon -->
                                <img src="../assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                                <!-- Light Logo icon -->
                                <img src="../assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                            </b>
                    <!--End Logo icon -->
                    <!-- Logo text --><span>
                             <!-- dark Logo text -->
                             <img src="../assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                             <!-- Light Logo text -->    
                             <img src="../assets/images/logo-light-text.png" class="light-logo" alt="homepage" /></span> </a>
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <div class="navbar-collapse">

            </div>
        </nav>
    </header>
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul aria-expanded="false">
                    <li class="nav-devider"></li>
                    <li class="nav-small-cap">PERSONAL</li>
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">



            <div class="row" id="validation">
                <div class="col-12">
                    <div class="card wizard-content">
                        <div class="card-body">
                            <h4 class="card-title">Buscar vacantes</h4>
                            <form action="#" class="validation-wizard wizard-circle">

                                <section>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="wlocation2"> Perfil: <span class="danger">*</span> </label>
                                                <select class="custom-select form-control required" id="wlocation2" name="location">
                                                        <option value="">Selecciona perfil</option>
                                                        <option value="India">Ingenieria</option>
                                                        <option value="USA">Contabilidar</option>
                                                        <option value="Dubai">Medico</option>
                                                    </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="wlocation2"> Estado :<span class="danger">*</span> </label>
                                                <select class="custom-select form-control required" id="wlocation2" name="location">
                                                        <option value="">Selecciona Estado</option>
                                                        <option value="India">CDMX</option>
                                                        <option value="USA">Durango</option>
                                                        <option value="Dubai">Gerrero</option>
                                                        <option value="Dubai">Edo Mexico</option>
                                                    </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="button" (click)="buscarVacantes()" class="btn btn-success">Buscar</button>

                                        </div>
                                    </div>
                                </section>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <div id="vac" class="row">
                <!-- .col -->
                <div *ngFor="let item of array" class="col-md-6 col-lg-6 col-xlg-4">
                    <div class="card card-body">
                        <div class="row">
                            <div class="col-md-4 col-lg-3 text-center">
                                <a [routerLink]="['/detalle-vacante']">
                                    <h3 class="box-title m-b-0">Ingeniero Sistemas</h3>
                                    <small>Full stack</small></a>

                            </div>
                            <div class="col-md-8 col-lg-9">
                                <h3 class="box-title m-b-0">admin 360</h3> <small>xxxxx</small>
                                <address>
                                        Experiecia en srping 
                                        <br/>
                                        JAVA 8 
                                        <br/>
                                        angular
                                        <br/>
                                        <abbr title="Phone">P:</abbr> (123) 456-7890
                                    </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer"> </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>