<div class="row" id="validation">
    <div class="col-12">
        <div class="card wizard-content">
            <div class="card-body">
                <h4 class="card-title">Step wizard with validation</h4>
                <h6 class="card-subtitle">You can us the validation like what we did</h6>
                <form action="#" class="validation-wizard wizard-circle">
                    <!-- Step 1 -->
                    <h6>Step 1</h6>
                    <section>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="wfirstName2"> First Name : <span class="danger">*</span> </label>
                                    <input type="text" class="form-control required" id="wfirstName2" name="firstName"> </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="wlastName2"> Last Name : <span class="danger">*</span> </label>
                                    <input type="text" class="form-control required" id="wlastName2" name="lastName"> </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="wemailAddress2"> Email Address : <span class="danger">*</span> </label>
                                    <input type="email" class="form-control required" id="wemailAddress2" name="emailAddress"> </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="wphoneNumber2">Phone Number :</label>
                                    <input type="tel" class="form-control" id="wphoneNumber2"> </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="wlocation2"> Select City : <span class="danger">*</span> </label>
                                    <select class="custom-select form-control required" id="wlocation2" name="location">
                                            <option value="">Select City</option>
                                            <option value="India">India</option>
                                            <option value="USA">USA</option>
                                            <option value="Dubai">Dubai</option>
                                        </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="wdate2">Date of Birth :</label>
                                    <input type="date" class="form-control" id="wdate2"> </div>
                            </div>
                        </div>
                    </section>
                    <!-- Step 2 -->
                    <h6>Step 2</h6>
                    <section>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="jobTitle2">Company Name :</label>
                                    <input type="text" class="form-control required" id="jobTitle2">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="webUrl3">Company URL :</label>
                                    <input type="url" class="form-control required" id="webUrl3" name="webUrl3"> </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="shortDescription3">Short Description :</label>
                                    <textarea name="shortDescription" id="shortDescription3" rows="6" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Step 3 -->
                    <h6>Step 3</h6>
                    <section>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="wint1">Interview For :</label>
                                    <input type="text" class="form-control required" id="wint1"> </div>
                                <div class="form-group">
                                    <label for="wintType1">Interview Type :</label>
                                    <select class="custom-select form-control required" id="wintType1" data-placeholder="Type to search cities" name="wintType1">
                                            <option value="Banquet">Normal</option>
                                            <option value="Fund Raiser">Difficult</option>
                                            <option value="Dinner Party">Hard</option>
                                        </select>
                                </div>
                                <div class="form-group">
                                    <label for="wLocation1">Location :</label>
                                    <select class="custom-select form-control required" id="wLocation1" name="wlocation">
                                            <option value="">Select City</option>
                                            <option value="India">India</option>
                                            <option value="USA">USA</option>
                                            <option value="Dubai">Dubai</option>
                                        </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="wjobTitle2">Interview Date :</label>
                                    <input type="date" class="form-control required" id="wjobTitle2">
                                </div>
                                <div class="form-group">
                                    <label>Requirements :</label>
                                    <div class="m-b-10">
                                        <label class="custom-control custom-radio">
                                                <input id="radio3" name="radio" type="radio" class="custom-control-input">
                                                <span class="custom-control-label">Employee</span>
                                            </label>
                                        <label class="custom-control custom-radio">
                                                <input id="radio4" name="radio" type="radio" class="custom-control-input">
                                                <span class="custom-control-label">Contract</span>
                                            </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Step 4 -->
                    <h6>Step 4</h6>
                    <section>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="behName1">Behaviour :</label>
                                    <input type="text" class="form-control required" id="behName1">
                                </div>
                                <div class="form-group">
                                    <label for="participants1">Confidance</label>
                                    <input type="text" class="form-control required" id="participants1">
                                </div>
                                <div class="form-group">
                                    <label for="participants1">Result</label>
                                    <select class="custom-select form-control required" id="participants1" name="location">
                                            <option value="">Select Result</option>
                                            <option value="Selected">Selected</option>
                                            <option value="Rejected">Rejected</option>
                                            <option value="Call Second-time">Call Second-time</option>
                                        </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="decisions1">Comments</label>
                                    <textarea name="decisions" id="decisions1" rows="4" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Rate Interviwer :</label>
                                    <div class="c-inputs-stacked">
                                        <label class="inline custom-control custom-checkbox block">
                                                <input type="checkbox" class="custom-control-input"> <span class="custom-control-label ml-0">1 star</span> </label>
                                        <label class="inline custom-control custom-checkbox block">
                                                <input type="checkbox" class="custom-control-input"> <span class="custom-control-label ml-0">2 star</span> </label>
                                        <label class="inline custom-control custom-checkbox block">
                                                <input type="checkbox" class="custom-control-input"> <span class="custom-control-label ml-0">3 star</span> </label>
                                        <label class="inline custom-control custom-checkbox block">
                                                <input type="checkbox" class="custom-control-input"> <span class="custom-control-label ml-0">4 star</span> </label>
                                        <label class="inline custom-control custom-checkbox block">
                                                <input type="checkbox" class="custom-control-input"> <span class="custom-control-label ml-0">5 star</span> </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <!-- .left-right-aside-column-->
            <div class="contact-page-aside">

                <!-- /.left-aside-column-->
                <div class="">
                    <div class="table-responsive">
                        <table id="demo-foo-addrow" class="table table-bordered m-t-30 no-wrap table-hover contact-list" data-paging="true" data-paging-size="7">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Nombre</th>
                                    <th>Puesto</th>
                                    <th>Cliente</th>
                                    <th>Salario</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        Miguel osorio
                                    </td>
                                    <td>Diseñador</td>
                                    <td>BBVA</td>
                                    <td>$1200</td>
                                    <td>CDMX</td>
                                    <td>
                                        <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-eye"></i> </button>
                                        <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-minus"></i> </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        Miguel osorio
                                    </td>
                                    <td>Diseñador</td>
                                    <td>BBVA</td>
                                    <td>$1200</td>
                                    <td>CDMX</td>
                                    <td>
                                        <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-eye"></i> </button>
                                        <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-minus"></i> </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        Miguel osorio
                                    </td>
                                    <td>Diseñador</td>
                                    <td>BBVA</td>
                                    <td>$1200</td>
                                    <td>CDMX</td>
                                    <td>
                                        <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-eye"></i> </button>
                                        <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-minus"></i> </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        Miguel osorio
                                    </td>
                                    <td>Diseñador</td>
                                    <td>BBVA</td>
                                    <td>$1200</td>
                                    <td>CDMX</td>
                                    <td>
                                        <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-eye"></i> </button>
                                        <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-minus"></i> </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- .left-aside-column-->
                </div>
                <!-- /.left-right-aside-column-->
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Right sidebar -->
<!-- ============================================================== -->
<!-- .right-sidebar -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Vacantes</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form action="#">
                                    <div class="form-body">
                                        <h3 class="card-title">Editar vacante</h3>
                                        <hr>
                                        <div class="row p-t-20">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Nombre</label>
                                                    <input type="text" id="firstName" class="form-control" placeholder="nombre">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Puesto</label>
                                                    <select class="form-control custom-select">
                                                                    <option value="">Contador</option>
                                                                    <option value="">Desarrollador</option>
                                                                </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Cliente</label>
                                                    <select class="form-control custom-select">
                                                                        <option value="">BBVA</option>
                                                                        <option value="">Alsea</option>
                                                                </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Salario</label>
                                                    <input type="text" id="firstName" class="form-control" placeholder="Salario">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Oferta</label>
                                                    <input type="text" id="firstName" class="form-control" placeholder="Oferta">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Estado</label>
                                                    <select class="form-control custom-select">
                                                                            <option value="">CDMX</option>
                                                                            <option value="">Monterrey</option>
                                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label">Descripcion</label>
                                                    <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Descripcion"></textarea>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label">requisitos</label>
                                                    <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="requisitos"></textarea>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Editar</button>
            </div>
        </div>
    </div>
</div>