<section id="wrapper">
    <div class="login-register" style="background-image:url(../assets/images/background/login-register.jpg);">
        <div class="login-box card">
            <div class="card-body">
                <form class="form-horizontal form-material">
                    <h3 class="box-title m-b-20">Nueva contraseña</h3>
                    Se ha detectado que alguien intento ingresar a su cuenta favor de cambiar su contraseña
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input name="password" [(ngModel)]="usuario.password" class="form-control" type="password" required placeholder="Nueva Contraseña">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input name="password2" class="form-control" type="password" required placeholder="Confirmar Nueva Contraseña">
                        </div>
                    </div>

                    <div class="form-group text-center">
                        <div class="col-xs-12 p-b-20">
                            <button class="btn btn-block btn-lg btn-info btn-rounded" (click)="cambiarPassword()">Cambiar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>