<section id="wrapper">
    <div class="login-register" style="background-image:url(../assets/images/background/login-register.jpg);">
        <div class="login-box card" style="margin-bottom: 20px;">
            <div class="card-body">
                <div class="form-group m-b-0 text-center" style="font-size: 35px;">
                    <i class="mdi mdi-alert-circle-outline a-text-admin"></i>
                </div>
                <div class="form-group m-b-0">
                    Se ha detectado que alguien intento ingresar a su cuenta, favor de cambiar su contraseña
                </div>
            </div>
        </div>
        <div class="login-box card">
            <div class="card-body">
                <form ngNativeValidate [formGroup]="forma" (ngSubmit)="cambiarPassword()" class="form-horizontal form-material">
                    <h3 class="box-title m-b-40">Nueva contraseña</h3>

                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input formControlName="password" name="password" [(ngModel)]="usuario.password" class="form-control" type="password" required placeholder="Nueva Contraseña">
                        </div>
                    </div>
                    <div class="form-group m-b-40">
                        <div class="col-xs-12">
                            <input formControlName="password2" name="password2" class="form-control" type="password" required placeholder="Confirmar Nueva Contraseña">
                        </div>
                    </div>
                    <div class="form-group" *ngIf="forma.errors?.validaPassword && !forma.pristine">
                        <p class="text-danger">
                            Las contraseñas deben ser iguales
                        </p>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-xs-12 p-b-20">
                            <button class="btn btn-block btn-lg btn-info btn-rounded btn-rojo-admin" type="submit" [disabled]="(forma.errors?.validaPassword || forma.pristine)">Cambiar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>