<div class="row" id="validation">
    <div class="col-12">
        <div class="card wizard-content">
            <div class="card-body">
                <h4 class="card-title"></h4>
                <form action="#" class="validation-wizard wizard-circle">

                    <section>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="wlocation2"> Area: <span class="danger">*</span> </label>
                                    <select class="custom-select form-control required" id="wlocation2" name="location">
                                                <option value="">Selecciona puesto</option>
                                                <option value="India">Ingenieria</option>
                                                <option value="USA">Contabilidar</option>
                                                <option value="Dubai">Medico</option>
                                            </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="wlocation2"> Cliente :<span class="danger">*</span> </label>
                                    <select class="custom-select form-control required" id="wlocation2" name="location">
                                                <option value="">Selecciona Cliente</option>
                                                <option value="India">Bancomer</option>
                                                <option value="USA">Alse</option>
                                                <option value="Dubai">Banamex</option>
                                                
                                            </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="wlocation2"> Fecha<span class="danger">*</span> </label>
                                    <div class='input-group mb-3'>
                                        <input type='date' class="form-control singledate" />
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                        <span class="ti-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <button type="button" (click)="buscarPostulaciones()" class="btn btn-block">Buscar </button>
                            </div>
                        </div>

                    </section>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <!-- .left-right-aside-column-->
            <div class="contact-page-aside">

                <!-- /.left-aside-column-->
                <div class="">
                    <div *ngIf="postulaciones.length > 0" class="table-responsive">
                        <table id="demo-foo-addrow" class="table table-bordered m-t-30 no-wrap table-hover contact-list" data-paging="true" data-paging-size="7">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Nombre Vacante</th>
                                    <th>Area</th>
                                    <th>Estado</th>
                                    <th>Cliente</th>
                                    <th>Total de Usuarios</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let postulacion of postulaciones | paginate: { itemsPerPage: 4, currentPage: p } let i = index ">
                                    <td>{{i+1}}</td>
                                    <td>{{postulacion.vacante.nombre}}
                                    </td>
                                    <td><span class="label label-danger">{{postulacion.vacante.area.nombre}}</span> </td>
                                    <td>{{postulacion.vacante.estado.nombre}}</td>
                                    <td>{{postulacion.vacante.cliente.nombre}}</td>
                                    <td><span class="label label-info">{{postulacion.totalCandidatos}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                        </div>
                        <div *ngIf="postulaciones.length === 0" class="table-responsive">
                            <h4>!! no se encontraron concidencias !!</h4>
                        </div>
                    </div>

                    <!-- .left-aside-column-->
                </div>
                <!-- /.left-right-aside-column-->
            </div>
        </div>
    </div>
</div>