<div id="main-wrapper">
    <header class="topbar" style="background: #ef5350">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
            <div class="navbar-header">
                <a class="navbar-brand" [routerLink]="['/pagina-web']">
                    <!-- Logo icon --><b>
                                <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                                <!-- Dark Logo icon -->
                                <img src="../assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                                <!-- Light Logo icon -->
                                <img src="../assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                            </b>
                    <!--End Logo icon -->
                    <!-- Logo text --><span>
                             <!-- dark Logo text -->
                             <img src="../assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                             <!-- Light Logo text -->    
                             <img src="../assets/images/logo-light-text.png" class="light-logo" alt="homepage" /></span> </a>
            </div>
            <div class="navbar-collapse">

            </div>
        </nav>
    </header>
    <aside class="left-sidebar">
        <div class="scroll-sidebar">
            <nav class="sidebar-nav">
                <ul aria-expanded="false">
                    <li class="nav-devider"></li>
                    <li class="nav-small-cap">PERSONAL</li>
                </ul>
            </nav>
        </div>
    </aside>

    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card wizard-content">
                        <div class="card-body">
                            <h4 class="card-title">Buscar vacantes</h4>
                            <form action="#" class="validation-wizard wizard-circle">

                                <section>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="wlocation2"> Area: <span class="danger">*</span> </label>
                                                <div class="ng-autocomplete">
                                                    <ng-autocomplete [data]="areas" [searchKeyword]="keyword" (selected)='selectEvent($event, AREA)' (inputFocused)='onFocused($event, AREA)' (inputCleared)='onCleared($event, AREA)' (inputChanged)='onChangeSearch($event)' [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"
                                                        #autArea>
                                                    </ng-autocomplete>

                                                    <ng-template #itemTemplate let-item>
                                                        <a [innerHTML]="item.nombre"></a>
                                                    </ng-template>

                                                    <ng-template #notFoundTemplate let-notFound>
                                                        <div [innerHTML]="sinResultados"></div>
                                                    </ng-template>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="wlocation2"> Estado: <span class="danger">*</span> </label>
                                                <div class="ng-autocomplete">
                                                    <ng-autocomplete [data]="estados" [searchKeyword]="keyword" (selected)='selectEvent($event, ESTADO)' (inputFocused)='onFocused($event, ESTADO)' (inputCleared)='onCleared($event, ESTADO)' [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"
                                                        #autEstado>
                                                    </ng-autocomplete>

                                                    <ng-template #itemTemplate let-item>
                                                        <a [innerHTML]="item.nombre"></a>
                                                    </ng-template>

                                                    <ng-template #notFoundTemplate let-notFound>
                                                        <div [innerHTML]="sinResultados"></div>
                                                    </ng-template>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="button" (click)="buscarVacantes()" class="btn btn-success">Buscar</button>

                                        </div>
                                    </div>
                                </section>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div *ngFor="let vacante of vacantes | paginate: { itemsPerPage: 4, currentPage: p }" class="col-xs-12 col-md-6 col-lg-6 col-xlg-4">
                    <div class="card card-body card-vacante-usuario" [routerLink]="['/detalle-vacante',vacante.idVacante]">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <h3 class="box-title m-b-0">{{vacante.area.nombre}}</h3>
                                <h5 class="box-title m-b-0">{{vacante.sueldo}}</h5>
                                <br/>
                                <small class="box-title m-b-0">{{vacante.descripcionBreve}}</small>
                                <h3>{{vacante.nombre}}</h3>
                                <small>{{vacante.estado.nombre}}</small>
                                <address>
                                        {{vacante.descripcion}}
                                       <!-- <br/>
                                        JAVA 8 
                                        <br/>
                                        angular
                                        <br/>
                                        <abbr title="Phone">P:</abbr> (123) 456-7890
                                        -->
                                    </address>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div *ngIf="vacantes.length > 0" class="row">
                <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
            </div>

            <div *ngIf="vacantes.length === 0" class="row">
                !!! NO SE ENCONTRARON COINCIDENCIAS !!!
            </div>

        </div>
        <ngx-spinner></ngx-spinner>
    </div>
</div>