<div class="row" id="validation">
    <div class="col-12">
        <div class="card wizard-content">
            <div class="card-body">
                <h4 class="card-title">Buscar vacantes</h4>
                <form action="#" class="validation-wizard wizard-circle">

                    <section>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="wlocation2"> Perfil: <span class="danger">*</span> </label>
                                    <select class="custom-select form-control required" id="wlocation2" name="location">
                                                <option value="">Selecciona perfil</option>
                                                <option value="India">Ingenieria</option>
                                                <option value="USA">Contabilidar</option>
                                                <option value="Dubai">Medico</option>
                                            </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="wlocation2"> Estado :<span class="danger">*</span> </label>
                                    <select class="custom-select form-control required" id="wlocation2" name="location">
                                                <option value="">Selecciona Estado</option>
                                                <option value="India">CDMX</option>
                                                <option value="USA">Durango</option>
                                                <option value="Dubai">Gerrero</option>
                                                <option value="Dubai">Edo Mexico</option>
                                            </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="button" class="btn btn-success">Buscar</button>

                            </div>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </div>
</div>


<div id="vac" class="row">
    <!-- .col -->
    <div class="col-md-6 col-lg-6 col-xlg-4">
        <div class="card card-body">
            <div class="row">
                <div class="col-md-4 col-lg-3 text-center">
                    <a href="detalle-vacante.html">
                        <h3 class="box-title m-b-0">Ingeniero Sistemas</h3>
                        <small>Full stack</small></a>

                </div>
                <div class="col-md-8 col-lg-9">
                    <h3 class="box-title m-b-0">admin 360</h3> <small>xxxxx</small>
                    <address>
                                Experiecia en srping 
                                <br/>
                                JAVA 8 
                                <br/>
                                angular
                                <br/>
                                <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col -->
    <!-- .col -->
    <div class="col-md-6 col-lg-6 col-xlg-4">
        <div class="card card-body">
            <div class="row">
                <div class="col-md-4 col-lg-3 text-center">
                    <a href="detalle-vacante.html">
                        <h3 class="box-title m-b-0">Ingeniero Sistemas</h3>
                        <small>Full stack</small></a>

                </div>
                <div class="col-md-8 col-lg-9">
                    <h3 class="box-title m-b-0">admin 360</h3> <small>xxxxx</small>
                    <address>
                                Experiecia en srping 
                                <br/>
                                JAVA 8 
                                <br/>
                                angular
                                <br/>
                                <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col -->
    <!-- .col -->
    <div class="col-md-6 col-lg-6 col-xlg-4">
        <div class="card card-body">
            <div class="row">
                <div class="col-md-4 col-lg-3 text-center">
                    <a href="detalle-vacante.html">
                        <h3 class="box-title m-b-0">Ingeniero Sistemas</h3>
                        <small>Full stack</small></a>

                </div>
                <div class="col-md-8 col-lg-9">
                    <h3 class="box-title m-b-0">admin 360</h3> <small>xxxxx</small>
                    <address>
                                Experiecia en srping 
                                <br/>
                                JAVA 8 
                                <br/>
                                angular
                                <br/>
                                <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col -->
    <!-- .col -->
    <div class="col-md-6 col-lg-6 col-xlg-4">
        <div class="card card-body">
            <div class="row">
                <div class="col-md-4 col-lg-3 text-center">
                    <a href="detalle-vacante.html">
                        <h3 class="box-title m-b-0">Ingeniero Sistemas</h3>
                        <small>Full stack</small></a>

                </div>
                <div class="col-md-8 col-lg-9">
                    <h3 class="box-title m-b-0">admin 360</h3> <small>xxxxx</small>
                    <address>
                                Experiecia en srping 
                                <br/>
                                JAVA 8 
                                <br/>
                                angular
                                <br/>
                                <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col -->
    <!-- .col -->
    <div class="col-md-6 col-lg-6 col-xlg-4">
        <div class="card card-body">
            <div class="row">
                <div class="col-md-4 col-lg-3 text-center">
                    <a href="detalle-vacante.html">
                        <h3 class="box-title m-b-0">Ingeniero Sistemas</h3>
                        <small>Full stack</small></a>

                </div>
                <div class="col-md-8 col-lg-9">
                    <h3 class="box-title m-b-0">admin 360</h3> <small>xxxxx</small>
                    <address>
                                Experiecia en srping 
                                <br/>
                                JAVA 8 
                                <br/>
                                angular
                                <br/>
                                <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col -->
    <!-- .col -->
    <div class="col-md-6 col-lg-6 col-xlg-4">
        <div class="card card-body">
            <div class="row">
                <div class="col-md-4 col-lg-3 text-center">
                    <a href="detalle-vacante.html">
                        <h3 class="box-title m-b-0">Ingeniero Sistemas</h3>
                        <small>Full stack</small></a>

                </div>
                <div class="col-md-8 col-lg-9">
                    <h3 class="box-title m-b-0">admin 360</h3> <small>xxxxx</small>
                    <address>
                                Experiecia en srping 
                                <br/>
                                JAVA 8 
                                <br/>
                                angular
                                <br/>
                                <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col -->
    <!-- .col -->
    <div class="col-md-6 col-lg-6 col-xlg-4">
        <div class="card card-body">
            <div class="row">
                <div class="col-md-4 col-lg-3 text-center">
                    <a href="detalle-vacante.html">
                        <h3 class="box-title m-b-0">Ingeniero Sistemas</h3>
                        <small>Full stack</small></a>

                </div>
                <div class="col-md-8 col-lg-9">
                    <h3 class="box-title m-b-0">admin 360</h3> <small>xxxxx</small>
                    <address>
                                Experiecia en srping 
                                <br/>
                                JAVA 8 
                                <br/>
                                angular
                                <br/>
                                <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col -->
    <!-- .col -->
    <div class="col-md-6 col-lg-6 col-xlg-4">
        <div class="card card-body">
            <div class="row">
                <div class="col-md-4 col-lg-3 text-center">
                    <a href="detalle-vacante.html">
                        <h3 class="box-title m-b-0">Ingeniero Sistemas</h3>
                        <small>Full stack</small></a>

                </div>
                <div class="col-md-8 col-lg-9">
                    <h3 class="box-title m-b-0">admin 360</h3> <small>xxxxx</small>
                    <address>
                                Experiecia en srping 
                                <br/>
                                JAVA 8 
                                <br/>
                                angular
                                <br/>
                                <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col -->
    <!-- .col -->
    <div class="col-md-6 col-lg-6 col-xlg-4">
        <div class="card card-body">
            <div class="row">
                <div class="col-md-4 col-lg-3 text-center">
                    <a href="detalle-vacante.html">
                        <h3 class="box-title m-b-0">Ingeniero Sistemas</h3>
                        <small>Full stack</small></a>

                </div>
                <div class="col-md-8 col-lg-9">
                    <h3 class="box-title m-b-0">admin 360</h3> <small>xxxxx</small>
                    <address>
                                Experiecia en srping 
                                <br/>
                                JAVA 8 
                                <br/>
                                angular
                                <br/>
                                <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col -->
    <!-- .col -->
    <div class="col-md-6 col-lg-6 col-xlg-4">
        <div class="card card-body">
            <div class="row">
                <div class="col-md-4 col-lg-3 text-center">
                    <a href="detalle-vacante.html">
                        <h3 class="box-title m-b-0">Ingeniero Sistemas</h3>
                        <small>Full stack</small></a>

                </div>
                <div class="col-md-8 col-lg-9">
                    <h3 class="box-title m-b-0">admin 360</h3> <small>xxxxx</small>
                    <address>
                                Experiecia en srping 
                                <br/>
                                JAVA 8 
                                <br/>
                                angular
                                <br/>
                                <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col -->
    <!-- .col -->
    <div class="col-md-6 col-lg-6 col-xlg-4">
        <div class="card card-body">
            <div class="row">
                <div class="col-md-4 col-lg-3 text-center">
                    <a href="detalle-vacante.html">
                        <h3 class="box-title m-b-0">Ingeniero Sistemas</h3>
                        <small>Full stack</small></a>

                </div>
                <div class="col-md-8 col-lg-9">
                    <h3 class="box-title m-b-0">admin 360</h3> <small>xxxxx</small>
                    <address>
                                Experiecia en srping 
                                <br/>
                                JAVA 8 
                                <br/>
                                angular
                                <br/>
                                <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col -->
    <!-- .col -->
    <div class="col-md-6 col-lg-6 col-xlg-4">
        <div class="card card-body">
            <div class="row">
                <div class="col-md-4 col-lg-3 text-center">
                    <a href="detalle-vacante.html">
                        <h3 class="box-title m-b-0">Ingeniero Sistemas</h3>
                        <small>Full stack</small></a>

                </div>
                <div class="col-md-8 col-lg-9">
                    <h3 class="box-title m-b-0">admin 360</h3> <small>xxxxx</small>
                    <address>
                                Experiecia en srping 
                                <br/>
                                JAVA 8 
                                <br/>
                                angular
                                <br/>
                                <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col -->
</div>