<div class="row" id="validation">
    <div class="col-12">
        <div class="card wizard-content">
            <div class="card-body">
                <h4 class="card-title">Buscar candidatos</h4>
                <form action="#" class="validation-wizard wizard-circle">

                    <section>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="wlocation2"> Puesto: <span class="danger">*</span> </label>
                                    <select class="custom-select form-control required" id="wlocation2" name="location">
                                                <option value="">Selecciona puesto</option>
                                                <option value="India">Ingenieria</option>
                                                <option value="USA">Contabilidar</option>
                                                <option value="Dubai">Medico</option>
                                            </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="wlocation2"> Cliente :<span class="danger">*</span> </label>
                                    <select class="custom-select form-control required" id="wlocation2" name="location">
                                                <option value="">Selecciona Cliente</option>
                                                <option value="India">Bancomer</option>
                                                <option value="USA">Alse</option>
                                                <option value="Dubai">Banamex</option>
                                                
                                            </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="wlocation2"> Fecha<span class="danger">*</span> </label>
                                    <div class='input-group mb-3'>
                                        <input type='date' class="form-control singledate" />
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                        <span class="ti-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="button" class="btn btn-success">Buscar</button>

                            </div>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <!-- .left-right-aside-column-->
            <div class="contact-page-aside">

                <!-- /.left-aside-column-->
                <div class="">
                    <div class="table-responsive">
                        <table id="demo-foo-addrow" class="table table-bordered m-t-30 no-wrap table-hover contact-list" data-paging="true" data-paging-size="7">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Nombre</th>
                                    <th>Email</th>
                                    <th>Telefono</th>
                                    <th>Perfil</th>
                                    <th>Edad</th>
                                    <th>Fecha</th>
                                    <th>Salario</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <a href="javascript:void(0)">Miguel osorio</a>
                                    </td>
                                    <td>genelia@gmail.com</td>
                                    <td>+123 456 789</td>
                                    <td><span class="label label-danger">Diseñador</span> </td>
                                    <td>23</td>
                                    <td>12-10-2014</td>
                                    <td>$1200</td>
                                    <td>
                                        <a download href="CVMiguel.docx" class="btn btn-primary"><i class="fas fa-arrow-alt-circle-down"></i> </a>
                                        <a href="cv-admin.html" class="btn btn-success"><i class="fas fa-eye"></i> </a>
                                    </td>


                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                        <a href="javascript:void(0)">Carlos Dionicio</a>
                                    </td>
                                    <td>arijit@gmail.com</td>
                                    <td>+234 456 789</td>
                                    <td><span class="label label-info">Desarrollador</span> </td>
                                    <td>26</td>
                                    <td>10-09-2014</td>
                                    <td>$1800</td>
                                    <td>
                                        <a download href="CVMiguel.docx" class="btn btn-primary"><i class="fas fa-arrow-alt-circle-down"></i> </a>
                                        <a href="cv-admin.html" class="btn btn-success"><i class="fas fa-eye"></i> </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>
                                        <a href="javascript:void(0)"> Beatriz adriana</a>
                                    </td>
                                    <td>govinda@gmail.com</td>
                                    <td>+345 456 789</td>
                                    <td><span class="label label-success">Contador</span></td>
                                    <td>28</td>
                                    <td>1-10-2013</td>
                                    <td>$2200</td>
                                    <td>
                                        <a download href="CVMiguel.docx" class="btn btn-primary"><i class="fas fa-arrow-alt-circle-down"></i> </a>
                                        <a href="cv-admin.html" class="btn btn-success"><i class="fas fa-eye"></i> </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>
                                        <a href="javascript:void(0)"> Daniel Martinez</a>
                                    </td>
                                    <td>hritik@gmail.com</td>
                                    <td>+456 456 789</td>
                                    <td><span class="label label-inverse">RH</span></td>
                                    <td>25</td>
                                    <td>2-10-2017</td>
                                    <td>$200</td>
                                    <td>
                                        <a download href="CVMiguel.docx" class="btn btn-primary"><i class="fas fa-arrow-alt-circle-down"></i> </a>
                                        <a href="cv-admin.html" class="btn btn-success"><i class="fas fa-eye"></i> </a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <!-- .left-aside-column-->
                </div>
                <!-- /.left-right-aside-column-->
            </div>
        </div>
    </div>
</div>